.top{
  display: flex;
  min-height: 70vh;
  width: 100%;
}
.top .left{
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.top .left section{
  display: flex;
  margin-right: 5%;
  align-items: flex-start;
  align-items: center;
  padding: 10px;
  gap: 13px;
  width: 100%;
  animation: fadeIn 1s ease;
  position: relative;
}
@keyframes fadeIn{
  0%{right: -300px; opacity: 0;}
  100%{right: 0; opacity: 1;}
}

.top .left section div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.top .left section #p1{
  display: flex;
  flex-direction: column;
}
.top .left section #p1 span{
  font-family: 'Alegreya SC';
  font-size: 3.5rem;
  color: var(--info-text-color);
}
.top .left section #p2{
  color: rgb(114, 113, 113);
  font-size: 1rem;
}
.top .left section a{
  padding: 3px 10px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: salmon;
  background: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.top .left section a div{
  width:15px;
  height: 15px;
  background: salmon;
  transition: 0.3s ease;
  border-radius: 50%;
}
.top .left section a:hover div{
  background: skyblue;
}
.top .left nav{
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 2%;
  left: 2%;
}
.top .left nav i{
  color: var(--info-text-color);
  font-size: 1.1rem;
}

.top .right{
  width: 60%;
}
.top .left{
  background: var(--theme);
}
#menu_tag{
  display: none;
}
.top .right{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_swiper{
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_swiper nav{
  top: 20px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 200;
}
.home_swiper nav a{
  color: white;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  padding: 5px;
  font-size: 1.3rem;
}
.home_swiper nav a #s1{
  transition: 0.3s ease;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.home_swiper nav a #s2{
  transition: 0.3s ease;
  font-size: 0.8rem;
}
.home_swiper nav a:hover #s1{
  transform: translateX(-10px);
}
.home_swiper nav a:hover #s2{
  transform: translateX(10px);
}
.home_swiper .swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.home_swiper .swiper-slide img, .gallery_swiper_top .swiper-slide img, .gallery_swiper_low .swiper-slide img{
  height: 100%;
  width: 100%;
}
.home_swiper .swiper-slide .cover{
  position: absolute;
  background: rgba(0, 0, 0,0.5);
  width: 100%;
  height: 100%;
}
.home_search_form{
  position: absolute;
  z-index: 100;
  color: white;
  display: flex;
  background: white !important;
  z-index: 300;
  padding: 5px 5px 5px 5px;
}
.home_search_form .part{
  display: flex;
  margin: 0 1px;
  background: white;
}
.part1{
  gap: 10px;
  padding: 5px 7px 5px 18px;
  border-radius: 40px 0 0 40px;
}
.part2{
  gap: 10px;
  border-radius: 0 40px 40px 0;
  padding: 5px 5px 5px 7px;
}
.home_search_form i{
  display: none;
}
.home_search_form .input_field{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.home_search_form .input_field select,.home_search_form .input_field input{
  height: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  text-align: center;
  border-radius: 10px;
  padding: 0 10px;
}
.home_search_form .input_field input[type='number']{
  width: 90px;
  font-size: 0.9rem;
}
.home_search_form .input_field input[type='number']::placeholder{
  font-size: 0.8rem;
  text-align: center;
}
#num_box{
  display: flex;
  align-items: center;
}
#pt{
  padding: 0 10px;
  font-size: 0.7rem;
  color: salmon;
}
.home_search_form button{
  width: 100px;
  background: #3baeca;
  color: white;
  padding: 0 10px;
  border-radius: 40px;
}

@media all and (max-width:900px){
  .home_search_form{
    width: 90%;
    gap: 10px;
    z-index: 350;
    flex-direction: column;
  }
  .home_search_form .part{
    background: transparent;
    border-radius: 0;
    flex-direction: column;
    padding: 0;
    box-shadow: none;
    align-items: center;
  }
  .home_search_form .part1 .input_field{
    padding: 0;
    width: 100%;
  }
  .home_search_form .part1 .input_field select{
    border-radius: 8px;
    border-radius: 100px;
    width: 90%;
  }
  .home_search_form .part2 .input_field input{
    border-radius: 50px;
  }
  .home_search_form button{
    border-radius: 50px;
    height: 50px;
  }
}


.low{
  display: flex;
  align-items: center;
  justify-content:center;
  position: relative;
  min-height: 30vh;
  background: white;
  width: 100%;
}

.banner{
  background: transparent;
  min-height: 25vh;
  z-index: 100;
  width: 80%;
  top: -25%;
  animation: fadeUp 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

@keyframes fadeUp{
  0%{top: 10%; opacity: 0;}
  100%{top: -25%; opacity: 1;}
}
.banner #s2{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.banner #s2 .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 10px;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.banner #s2 .box div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.banner #s2 .box i{
  font-size: 2.5rem;
}
.banner #s2 .box p{
  text-align: center;
  font-family: 'Baloo 2';
  color: rgb(57, 56, 56);
}
.banner_swiper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 25vh;
}
.banner_swiper .swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}
.town_swiper{
  min-height: 40vh;
  width: 72%;
}
.town_box{
  padding: 20px 10px;
  border-top: 2px dotted darkgray;
  border-bottom: 2px dotted darkgray;
  min-height: 40vh;
  width: 98%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  gap: 10px;
}
.town_box img{
  width: 22%;
  height: 200px;
}
.town_box .list_box{
  width: 70%;
}
.list_box .header{
  border-bottom: 1px dotted darkgray;
  margin-bottom: 15px;
  padding: 15px 0;
  width:100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.list_box .header p{
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.list_box .header p span{
  display: flex;
  align-items: center;
}
.list_box_con{
  border-bottom: 1px dotted darkgray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 0;
}
.list_box_con p{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.list_box_con p span, .list_box_con p a{
  font-weight: 600;
  color: salmon;
}
.list_box_con strong{
  font-weight: 400;
}
.list_box_con strong small{
  padding: 5px;
  border-radius: 5px;
  background: skyblue;
  color: white;
  font-weight: 600;
}

@media all and (max-width:1250px){
  .town_box{
    width: 95%;
  }
  .town_box{
    align-items: center;
    flex-direction: column;
  }
  .town_box img{
    width: 300px;
  }
  .town_box .list_box{
    width: 90%;
  }
}
@media all and (max-width:600px){
  .town_box .list_box{
    width: 98%;
  }
}
@media all and (max-width:350px){
  .town_box .list_box{
    width: 90%;
  }
  .town_box img{
    width: 200px;
    height: 150px;
  }
}


.explore_box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0 0 0;
}
.explore{
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 55vh;
  background: #0c0e2c;
}
.explore .ex_left, .explore .ex_right{
  width: 50%;
  min-height: 54vh;
}
.ex_right img{
  height: 55vh;
  width: 100%;
}
.explore .ex_left{
  display: flex;
  align-items: center;
  justify-content: center;
}
.explore .ex_left .con{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1%;
  color: white;
  min-height: 50vh;
}
.explore .ex_left .con #ph{
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Alegreya Sans SC', sans-serif; */
  font-size: 2.3rem;
  font-weight: 600;
}
.explore .ex_left .con span{
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}
.explore .ex_left .con a{
  background: skyblue;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 600;
}
.explore .ex_right{
  background-position: center;
  background-size: cover;
}


@media all and (max-width:800px){
  .explore{
    flex-direction: column;
    align-items: center;
  }
  .explore .ex_left{
    width: 90%;
  }
  .explore .ex_right{
    width: 100%;
  }
}

.show_box{
  min-height: 52vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 0;
}
.sb_left{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  position: relative;
  height: 100%;
}
.sb_left .con{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 1%;
}
.sb_right{
  width: 100%;
  min-height: 50vh;
}
.show_swiper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.show_swiper .swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}




.info_box_holder{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1%;
  padding: 1% 0 0.5% 0;
  background: #f7f7f7;
}
.info_box_holder .info_box{
  width: 21.5%;
  padding: 1%;
  border-radius: 10px;
  display: flex;
  background: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 15px 0;
  color: black;
}


@media all and (max-width:1400px){
  .info_box_holder .info_box{
    width: 25%;
  }
}
@media all and (max-width:1150px){
  .info_box_holder .info_box{
    width: 30%;
  }
  .info_box_holder .info_box img{
    width: 100%;
  }
}
@media all and (max-width:850px){
  .info_box_holder{
    flex-wrap: wrap;
  }
  .info_box_holder .info_box{
    width: 40%;
  }
}
@media all and (max-width:650px){
  .info_box_holder .info_box{
    width: 45%;
  }
}
@media all and (max-width:580px){
  .info_box_holder .info_box{
    width: 80%;
  }
  .info_box_holder .info_box img{
    width: 300px;
  }
}
@media all and (max-width:380px){
  .info_box_holder .info_box{
    width: 90%;
  }
  .info_box_holder .info_box img{
    width: 100%;
  }
}

.info_box img{
  height: 300px;
  width: 300px;
}
.info_box span{
  font-weight: 600;
}

/* Form.module.css */
.form_cover{
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0,0.7);
  z-index: 1000;
  min-height: 100vh;
  transition: 0.5s ease;
  display: none;
  align-items: center;
  justify-content: center;
}
.form_cover.change{
  display: flex;
  animation: show_cover 0.6s ease;
}
@keyframes show_cover{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.form_box{
  position: relative;
  width: 80%;
  min-height: 70vh;
  display: flex;
}
.form_box .f_logo{
  position: absolute;
  top: 0;
  left: 0;
}
.form_box .f_left{
  display: flex;
  
  width: 50%;
  min-height: 65vh;
  position: relative;
  animation: fLeft 1s ease;
  background: white;
}
@keyframes fLeft{
  0%{right: -200px;opacity: 0;}
  100%{right: 0; opacity: 1;}
}
#fs1, #fs2{
  display: none;
}
#fs1.change, #fs2.change{
  display: flex;
}
.log_form_swiper{
  width: 100%;
  height: 65vh;
}
.log_form_swiper .swiper-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.form_box .f_left .f_header{
  width: 60%;
  display: flex;
  flex-direction: column;
}
.form_box .f_left .f_header p{
  font-size: 1.8rem;
}
.form_box .f_left .input_field{
  width: 60%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.form_box .f_left .input_field input{
  width: 100%;
  min-height: 45px;
  padding: 0 10px;
  border-radius: 5px;
  transition: 0.3s ease;
  border: 1px solid #e5e5e7;
}
.form_box .f_left .input_field input:hover{
  border: 1px solid #3c37ff;
}
.form_box .f_left button{
  padding: 0 100px;
  min-height: 40px;
  border-radius: 5px;
  background: #0098be;
  color: white;
  font-size: 1.1rem;
  border: 1px solid #0098be;
  transition: 0.3s ease;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.form_box .f_left button:hover{
  background: white;
  color: #0098be;
}
.form_box .f_left .f_red{
  letter-spacing: 1px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.form_box .f_right{
  background: white;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  animation: fright 1s ease;
}
@keyframes fright{
  0%{left: -200px;opacity: 0;}
  100%{left: 0; opacity: 1;}
}
.form_box .f_right img{
  height:100%; 
  width:100%;
}
.form_box .f_right #close_form{
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-weight: 600;
  background: #0098be;
}
.f_red a{
  color: #0098be;
  font-weight: 600;
}


/* At Media  */
@media all and (max-width:1400px){
  .banner{
    width: 90%;
  }
}
@media all and (max-width:1250px){
  .form_cover{
    overflow: auto;
    align-items: flex-start;
  }
  .form_box{
    position: absolute;
    width: 70%;
    flex-direction: column-reverse;
  }
  .form_box .f_left, .form_box .f_right{
    width: 100%;
    height: auto;
  }
  .form_box .f_right{
    min-height: auto;
  }
  .form_box .f_right img{
    width: 100%;
    height: 350px;
  }
}

@media all and (max-width:1130px){
  .top{
    flex-direction: column;
  }
  .top .left, .top .right{
    transition: 0.3s ease;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .banner{
    position: relative;
    width: 100%;
  }
  .show_box{
    min-height: 40vh;
    align-items: center;
    flex-direction: column;
  }
  .sb_right{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sb_left{
    display: none;
    height: 30%;
  }
  .sb_right{
    height: 100%;
  }
}
@media all and (max-width:680px){
  .top .left{
    flex-direction: column;
    align-items: center;
    padding: 10px 0; 
  }
  .top .left section{
    margin: 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
  .top .left nav{
    width: 90%;
    align-items: flex-end;
    position: relative;
  }
  .page .banner{
    width: 100%;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
  .page .banner #s2{
    width: 100%;
  }
  .page .banner #s2 .box{
    box-shadow: none;
    border: 1px solid rgb(208, 208, 208);
  }
  .page .banner_swiper{
    width: 100%;
    z-index: -1;
  }
  .top .right .home_swiper{
    max-height: 53vh;
  }
  .home_swiper{
    z-index: 300;
  }
  .home_swiper nav{
    position:fixed;
    left: 0;
    top: 0;
    width: 50%;
    transition: 0.5s ease;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 0vh;
  }
  .home_swiper nav a{
    display: none;
    border-bottom: 1px dotted white;
  }
  .home_swiper nav.change{
    height: 100vh;
    z-index: 500;
    background: #0c0e2c;
  }
  .home_swiper nav.change a{
    display: flex;
    height: auto;
  }
  #menu_tag{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    height: 40px;
    width: 40px;
  }
}

@media all and (max-width:500px){
  .form_box{
    width: 100%;
  }
  .form_box .f_right img{
    height: 300px;
  }
  .f_red{
    width: 90%;
    text-align: center;
  }
}
@media all and (max-width:300px){
  .form_box .f_right img{
    width: 100%;
    height: 165px;
  }
  .form_box .log_form_swiper{
    height: 75vh;
  }
}




