.page{
  flex-direction: row !important;
}
.sideBar{
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 100vh;
  position: relative;
  border-right: 1px solid #ebebeb;
  transition: 0.3s ease;
}
.sideBar #sideBar_tag{
  position: absolute;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
  right: 0;
  color: darkgray;
  transition: 0.4s ease;
}

.sideBar #sideBar_tag.change{
  position: relative;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sideBar .s_header,.sideBar .s_main, .sideBar .s_low{
  width: 100%;
}
.sideBar .s_header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 15vh;
}
.sideBar .s_header p{
  display: flex;
  flex-direction: column;
}
.sideBar .s_header p #s2{
  color: darkgray;
}

.sideBar .s_main{
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sideBar .s_main nav{
  min-height: 40vh;
  width: 85%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.sideBar .s_main nav a{
  width: 80%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.sideBar .s_low{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}
.sideBar .s_low a{
  display: flex;
  align-items: center;
}
.main{
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}

.main.change{
  width: 95%;
}

.sideBar.change{
  width: 5%;
}
.sideBar.change .s_header{
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 20vh;
}
.sideBar.change .s_header p span{
  font-size: 0.8vw;
}
.sideBar.change .s_main{
  min-height: 65vh;
  align-items: center;
  justify-content: center;
}
.sideBar.change .s_main nav{
  width: 100%;
  align-items: center;
}
.sideBar.change .s_main nav a{
  justify-content: center;
}
.sideBar.change .s_main nav a span{
  display: none;
}
.sideBar.change .s_low a span{
  display: none;
}
.sideBar.change .s_low{
  min-height: 10vh;
}
.mini_nav{
  display: none;
}


@media all and (max-width:1300px){
  .mini_nav{
    display: flex;
  }
  .sideBar{
    top: 0;
    left: -110%;
    min-width: 50%;
    background: white;
    position: fixed;
    z-index:20;
    transition: 0.8s ease;
    padding: 0 15px;
  }
  .sideBar .s_main{
    align-items: center;
  }
  .sideBar .s_main nav{
    width: auto;
  }
  .sideBar .s_main nav a{
    width: 100%;
  }
  .sideBar.show{
    left: 0;
  }
  .sideBar #sideBar_tag{
    position: fixed;
  }
  .main{
    width: 100%;
  }
}

@media all and (max-width:930px){
  .main{
    margin: 0 !important;
    padding: 0;
    gap: 0;
  }
}

@media all and (max-width:500px){
  .main{
    margin-top: 20px;
  }
}